.broke-main-content {
  padding-top: 30px;
}
.broke-main-content .broke-header {
  font-size: 13px;
  color: #999;
  text-align: left;
  padding: 0 30px;
}
.broke-main-content .broke-form {
  background-color: #fff;
  min-height: 100px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.broke-main-content .broke-form p {
  text-align: center;
}
.broke-main-content .broke-form p:nth-of-type(1) {
  font-size: 13px;
  color: #333;
  text-align: left;
}
.broke-main-content .broke-form p:nth-of-type(2) {
  font-size: 13px;
  color: #333;
  text-align: left;
  margin-top: 30px;
}
.broke-main-content .broke-form p:nth-of-type(2) ::-webkit-input-placeholder {
  color: #ccc;
}
.broke-main-content .broke-form p:nth-of-type(2) input {
  border: none;
  font-size: 13px;
  color: #333;
  text-align: left;
  width: auto;
}
